---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/shots/popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"page\":\"1\",\"per_page\":15,\"pages\":50,\"total\":750,\"shots\":[{\"id\":1668188,\"title\":\"Design
        is Everywhere\",\"description\":\"\\u003Cp\\u003E I know I'm late to the party,
        but here is my entry to the contest! The idea is simple: design is in every
        thing that surrounds us. It can be more obvious in tech stuff, but an electronic
        switcher is the result of a design decision as well. I couldn't come up with
        a cool \\\"definition\\\", so here is my idea: \\\"design is...everywhere\\\"
        \\u003C/p\\u003E\",\"height\":600,\"width\":800,\"likes_count\":290,\"comments_count\":21,\"rebounds_count\":0,\"url\":\"http://dribbble.com/shots/1668188-Design-is-Everywhere\",\"short_url\":\"http://drbl.in/lSWC\",\"views_count\":3787,\"rebound_source_id\":1650934,\"image_url\":\"https://d13yacurqjgara.cloudfront.net/users/3375/screenshots/1668188/animation-final.gif\",\"image_teaser_url\":\"https://d13yacurqjgara.cloudfront.net/users/3375/screenshots/1668188/animation-final_teaser.gif\",\"image_400_url\":\"https://d13yacurqjgara.cloudfront.net/users/3375/screenshots/1668188/animation-final_1x.gif\",\"player\":{\"id\":3375,\"name\":\"Sebastiano
        Guerriero\",\"location\":\"London, UK\",\"followers_count\":3579,\"draftees_count\":7,\"likes_count\":6715,\"likes_received_count\":11775,\"comments_count\":213,\"comments_received_count\":790,\"rebounds_count\":7,\"rebounds_received_count\":8,\"url\":\"http://dribbble.com/Sebastiano_Guerriero\",\"avatar_url\":\"https://d13yacurqjgara.cloudfront.net/users/3375/avatars/normal/avatar_1.png?1352070082\",\"username\":\"Sebastiano_Guerriero\",\"twitter_screen_name\":\"guerriero_se\",\"website_url\":\"http://codyhouse.co/\",\"drafted_by_player_id\":596,\"shots_count\":122,\"following_count\":824,\"created_at\":\"2010/07/09
        07:51:23 -0400\"},\"created_at\":\"2014/08/02 14:56:02 -0400\"},{\"id\":1668261,\"title\":\"Barn
        Door \",\"description\":\"\\u003Cp\\u003EI finally got my own font finished!
        Here's a link to where to buy it : https://sellfy.com/p/Xr7D/ \\u003C/p\\u003E\",\"height\":600,\"width\":800,\"likes_count\":138,\"comments_count\":19,\"rebounds_count\":0,\"url\":\"http://dribbble.com/shots/1668261-Barn-Door\",\"short_url\":\"http://drbl.in/lSXX\",\"views_count\":1379,\[...]
