---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/shots/debuts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"page\":\"1\",\"per_page\":15,\"pages\":50,\"total\":750,\"shots\":[{\"id\":1669143,\"title\":\"Logo
        for hykoo - Text + video = \\u003C3\",\"description\":\"\\u003Cp\\u003EThe
        logo, tag line and one of the color palette for the branding of 'hykoo' -
        Hykoo is a social network that brings this time-tested storytelling technique
        of hykoo into the digital age by combining lines of type over a short video.\\n\\u003Cbr
        /\\u003EDriven by beautiful design, hykoos are a new form of creative expression
        and a giant leap forward in the evolution of social video.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003Ehttps://download.hykoo.co\\u003C/p\\u003E\",\"height\":600,\"width\":800,\"likes_count\":3,\"comments_count\":0,\"rebounds_count\":0,\"url\":\"http://dribbble.com/shots/1669143-Logo-for-hykoo-Text-video-3\",\"short_url\":\"http://drbl.in/lToV\",\"views_count\":27,\"rebound_source_id\":null,\"image_url\":\"https://d13yacurqjgara.cloudfront.net/users/120567/screenshots/1669143/logo.gif\",\"image_teaser_url\":\"https://d13yacurqjgara.cloudfront.net/users/120567/screenshots/1669143/logo_teaser.gif\",\"image_400_url\":\"https://d13yacurqjgara.cloudfront.net/users/120567/screenshots/1669143/logo_1x.gif\",\"player\":{\"id\":120567,\"name\":\"assaf
        dagan\",\"location\":\"New York\",\"followers_count\":4,\"draftees_count\":0,\"likes_count\":23,\"likes_received_count\":3,\"comments_count\":0,\"comments_received_count\":0,\"rebounds_count\":0,\"rebounds_received_count\":0,\"url\":\"http://dribbble.com/assafdagan\",\"avatar_url\":\"https://d13yacurqjgara.cloudfront.net/users/120567/avatars/normal/assa.jpg?1393025788\",\"username\":\"assafdagan\",\"twitter_screen_name\":\"assafdagan\",\"website_url\":\"http://assafdagan.com\",\"drafted_by_player_id\":36950,\"shots_count\":1,\"following_count\":39,\"created_at\":\"2012/03/23
        13:02:47 -0400\"},\"created_at\":\"2014/08/03 21:28:18 -0400\"},{\"id\":1669110,\"title\":\"Zodiac
        Buttons\",\"description\":\"\\u003Cp\\u003EMaking buttons for fundraising
        is fun fun fun :) \\u003C/p\\u003E\",\"height\":300,\"width\":400,\"likes_count\":3,\"comments_count\":1,\"rebounds_count\":0,\"url\":\"http://dribbble.com/shots/1669110-Zodiac-Buttons\",\"short_url\":\"http://drbl.in/lToo\",\"views_count\":57,\"rebound_source_id\":null,\"image_url\":\"htt[...]
- request:
    method: get
    uri: http://api.dribbble.com/shots/1669143
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":1669143,\"title\":\"Logo for hykoo - Text + video = \\u003C3\",\"description\":\"\\u003Cp\\u003EThe
        logo, tag line and one of the color pa[...]
